In [1]:
# 必要なライブラリの読み込み
import pandas as pd
import numpy as np

# おまじない群
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [29]:
#windows環境実行時
font = {'family' : 'Helvetica'}
matplotlib.rc('font', **font)

# 日本語フォントの設定
from matplotlib.font_manager import FontProperties
font_path = '/Windows/Fonts/Ricty Diminished.ttf'  #DLしたフォントのパスを指定
font_prop = FontProperties(fname=font_path)

In [2]:
# cleansingで整形したcsvファイルを読み込み
train_X = pd.read_csv("train_X.csv")
train_y = pd.read_csv("train_y.csv")

In [8]:
train_X.head()

,Unnamed: 0,id,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,0,0,4,135.0,84.00,2525.0,16.0,82,1,dodge
1,1,3,4,89.0,71.00,1925.0,14.0,79,2,volkswagen
2,2,9,6,156.0,108.0,2930.0,15.5,76,3,toyota
3,3,11,4,90.0,75.00,2125.0,14.5,74,1,dodge
4,4,13,4,89.0,62.00,2050.0,17.3,81,3,toyota

In [9]:
train_X.drop(train_X["Unnamed: 0"])

Empty DataFrame
Columns: [Unnamed: 0, id, cylinders, displacement, horsepower, weight, acceleration, model year, origin, car name]
Index: []

In [4]:
train_y.head()

   0  29.0
0  1  31.9
1  2  19.0
2  3  28.0
3  4  37.7
4  5  27.0

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    train_X, train_y, random_state = 0)

ValueError: Found input variables with inconsistent numbers of samples: [199, 198]